
         position: absolute;
         left: 0px;
         top: 0px;
         -webkit-box-shadow: rgba(100,100,100,0.5) 4px 4px 8px;
         -moz-box-shadow: rgba(100,140,230,0.5) 2px 2px 6px;
         box-shadow: rgba(100,140,230,0.5) 2px 2px 6px;
         -o-box-shadow: rgba(100,140,230,0.5) 2px 2px 6px;
         border: thin solid cornflowerblue;
      }

      .floatingControls {
         background: rgba(0, 0, 0, 0.1);
         border: thin solid skyblue;
         -webkit-box-shadow: rgba(0,0,0,0.3) 2px 2px 4px;
         -moz-box-shadow: rgba(100,140,230,0.5) 2px 2px 6px;
         box-shadow: rgba(100,140,230,0.5) 2px 2px 6px;
         -o-box-shadow: rgba(100,140,230,0.5) 2px 2px 6px;
         position: absolute;
      }

      .floatingControls a {
         font-size: 1.5em;
         text-decoration: none;
         color: rgba(255,255,0,0.6);
      }
 
      .floatingControls a:hover {
         color: rgba(255,255,0,1.0);
      }

      #instructionsLink {
         color: cornflowerblue;
         text-decoration: none;
      }

      #instructionsLink:hover {
         color: rgba(255,255,0,1.0);
      }

      #instructions p.title {
         font-size: 1.5em;
         color: blue;
      }
      
      #instructions {
         margin-left: 60px;
         margin-top: 50px;
         padding-left: 20px;
         padding-right: 20px;
         width: 700px;
         height: 370px;
         -webkit-box-shadow: rgba(0,0,0,0.3) 4px 4px 8px;
         -moz-box-shadow: rgba(100,140,230,0.5) 2px 2px 6px;
         box-shadow: rgba(100,140,230,0.5) 2px 2px 6px;
         -o-box-shadow: rgba(100,140,230,0.5) 2px 2px 6px;
         color: rgba(0, 0, 255, 0.8);
         background: rgba(255, 255, 255, 0.8);
      }

      #instructionsOkayButtonDiv {
         left: 0px;
         width: 100%;
         text-align: center; 
      }

      #instructionsOkayButton {
         margin-top: 30px;
      }

      .toast {
         background: rgba(255, 255, 255, 0.7);
         border: thin solid skyblue;
         -webkit-box-shadow: rgba(0,0,0,0.3) 2px 2px 4px;
         -moz-box-shadow: rgba(100,140,230,0.5) 2px 2px 6px;
         box-shadow: rgba(100,140,230,0.5) 2px 2px 6px;
         -o-box-shadow: rgba(100,140,230,0.5) 2px 2px 6px;
         position: absolute;
         display: none;
      }

      #pausedToast {
         padding: 5px 40px 20px 40px;
         margin-left: 172px;
         margin-top: 100px;
         color: blue;
      }

      #pausedToast p {
         color: blue;
      }

      #pausedToast p.title {
         font-size: 1.50em;
         color: blue;
         padding-left: 18px;
      }

      #scoreToast {
         background: #5a3716;
         left: 25px;
         top: 25px;
         padding: 5px; 
         font-size: 1.25em;
         color: yellow;
         width: 3em;
         text-align: center;
         border: thin solid rgba(255,255,0,0.5);
      }

      div .title { 
         color: blue;
      }

      div p { 
         color: blue;
      }

      div a { 
         text-decoration: none;
         color: cornflowerblue;
      }

      p.title {
         font-size: 1.5em;
      }

      #gameOverToast {
         padding-left: 30px;
         padding-right: 30px;
         padding-bottom: 10px;
         margin-left: 173px;
         margin-top: 100px;
         text-align: center;
         display: none;
      }

      #highScoreList {
         color: rgba(0,0,255,0.6);
      }

      #previousHighScoresTitle {
         margin-top: 50px;
      }

      #loadButtonSpan {
         position: absolute;
         left: 200px;
         padding-top: 20px;
      }
      
      .blurb {
         padding: 10px;
         display: block;
         font: 12px Arial;
      }

      #progressDiv {
         padding-left: 55px;
         padding-top: 45px;
      }

      #loadingMessage {
         color: navyblue;
         font: 14px Helvetica;
         padding-top: 20px;
         padding-left: 183px;
      } 

      #showPolygonsOnlyToast {
         background: rgba(255,255,255,0.5);
         padding: 3px; 
         color: rgba(255,250,0,1.0);
         text-align: center;
         left: 423px;
         top: 25px;
      }
